<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let product">{{product.name}}</td>
  </ng-container>
  <ng-container matColumnDef="price" >
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let product">{{product.price| currency}}</td>
  </ng-container> 
  <ng-container matColumnDef="code" >
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let product">{{product.code}}</td>
  </ng-container> 

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row;columns: displayedColumns;"
  >

  </mat-row>
</table>